<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.artist.suite.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.artist.suite.preferences.pages.ARTIST"
            id="eu.artist.suite.preferences.pages.ARTIST"
            name="ARTIST">
      </page>
      <page
            category="eu.artist.suite.preferences.pages.ARTIST"
            class="eu.artist.suite.preferences.pages.TFT"
            id="eu.artist.suite.preferences.pages.TFT"
            name="Technical Feasibility Tool">
      </page>
      <page
            category="eu.artist.suite.preferences.pages.ARTIST"
            class="eu.artist.suite.preferences.pages.MPT"
            id="eu.artist.suite.preferences.pages.MPT"
            name="Methodology Process Tool">
      </page>
      <page
            category="eu.artist.suite.preferences.pages.ARTIST"
            class="eu.artist.suite.preferences.pages.MAT"
            id="eu.artist.suite.preferences.pages.MAT"
            name="Maturity Assessment Tool">
      </page>
      <page
            category="eu.artist.suite.preferences.pages.ARTIST"
            class="eu.artist.suite.preferences.pages.CT"
            id="eu.artist.suite.preferences.pages.CT"
            name="Certification Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.artist.suite.toolbar">
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/mat.PNG"
                  label="MAT"
                  style="push"
                  tooltip="Maturity Assessment Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="mat_url">
               </parameter>
            </command>
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/mpt.png"
                  label="MPT"
                  style="push"
                  tooltip="Methodology Process Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="mpt_url">
               </parameter>
            </command>
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/ct.png"
                  label="CT"
                  style="push"
                  tooltip="Certification Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="ct_url">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="eu.artist.menu.main"
               label="ARTIST">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/createARTISTProject.png"
                  label="New ARTIST Migration Project"
                  style="push"
                  tooltip="New ARTIST Migration Project">
               <parameter
                     name="newWizardId"
                     value="eu.artist.suite.newproject.wizard">
               </parameter>
            </command>
            <separator
                  name="eu.artist.suite.externalToolsSeperator"
                  visible="true">
            </separator>
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/mat.PNG"
                  label="Maturity Assessment Tool"
                  style="push"
                  tooltip="Maturity Assessment Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="mat_url">
               </parameter>
            </command>
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/mpt.png"
                  label="Methodology Process Tool"
                  style="push"
                  tooltip="Methodology Process Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="mpt_url">
               </parameter>
            </command>
            <command
                  commandId="eu.artist.suite.commands.launchBrowserWithURL"
                  icon="icons/ct.png"
                  label="Certification Tool"
                  style="push"
                  tooltip="Certification Tool">
               <parameter
                     name="eu.artist.suite.commands.parameter.URLIdentifier"
                     value="ct_url">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.artist.suite.wizards.ARTIST"
            name="ARTIST">
      </category>
      <wizard
            category="eu.artist.suite.wizards.ARTIST"
            class="eu.artist.suite.wizards.NewARTISTProjectWizard"
            icon="icons/createARTISTProject.png"
            id="eu.artist.suite.newproject.wizard"
            name="New ARTIST Migration Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.artist.suite.commands.LaunchBrowserWithURLHandler"
            id="eu.artist.suite.commands.launchBrowserWithURL"
            name="Launch Browser">
         <commandParameter
               id="eu.artist.suite.commands.parameter.URLIdentifier"
               name="URLIdentifier"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.artist.suite.perspective.ARTISTPerspectiveFactory"
            id="eu.artist.suite.perspective.ARTISTPerspective"
            name="ARTIST">
      </perspective>
   </extension>

</plugin>
